@font-face {
                font-family:Montserrat-Bold;
                src: url(https://voublaa.github.io/res/font/Montserrat-Bold.ttf);
            }

body {
    margin:0 auto;
    background-color:#F3F3F5;
    }
    
    .parent {
    text-align:center;
    }
    

.fixed_head {
	width:100%;
	height:65px;
	background-color:#313C50;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
	}
	
.hide_fixed_head {
	width:100%;
	height:65px;
	}
    
    .back {
      width:40px;
      height:40px;
      
      margin-left:20px;
    }

    .title {
        width:140px;
        position:absolute;
        top:10px; left:50%;
        transform:translateX(-50%);
}
    
    .content {
      display:flex;
      flex-wrap:wrap;
      text-align:center;
    }
    
    .ct {
      width:300px;
      height:420px;
      border-radius:15px;
      overflow:hidden;
      background-color:transparent;
      margin:10px 5px 10px 5px;
      margin:0 auto;
      box-shadow:10px 10px 10px #E5E7F0;
      z-index:1;
      
    }

    .ct_loading {
        position: absolute;
       top:30%;
      left:50%;
        font-family:Montserrat-Bold;
        transform: translate(-50%, -50%);
        font-size:18px;
        z-index:0;
    }
    
    .bottom  {
      width:100%;
      height:60px;
      margin-top:40px;
      display:flex;
      text-align:center;
      
    }
    
    .previous {
       width:60px;
       height:60px;
       
       display:flex;
       margin:0 auto;
       transform:rotate(180deg);
       
    }
    
    .next {
       width:60px;
       height:60px;
       
       display:flex;
       margin:0 auto;
    }
    
    .loader {
       position: fixed;
       width:100%;
       height:100%;
       z-index: 9999;
       display:none;
       margin-top:-27px;
    }
            .loader_ct {
                position:fixed;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                width:30%;
           }
           
      .one {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -45%);
      opacity:0;
      animation:svg1 1s linear 5;
      }
      
      @keyframes svg1 {
      
      0%{
      opacity:1;
      }
      
      11%{
      opacity:1;
      }
      
      11.1% {
      opacity:0;
      }
      
      }
      
      
      .two {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -40%);
      opacity:0;
      animation:svg2 1s linear 5;
      }
      
      @keyframes svg2 {
      11%{
      opacity:0;
      }
      11.1%{
      opacity:1;
      }
      
      22.1%{
      opacity:1;
      }
      
      22.2% {
      opacity:0;
      }
      
      }
      
      .three {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -45%);
      opacity:0;
      animation:svg3 1s linear 5;
      }
      
      @keyframes svg3 {
      
      22%{
      opacity:0;
      }
      
      22.2%{
      opacity:1;
      }
      
      33.2%{
      opacity:1;
      }
      
      33.3% {
      opacity:0;
      }
      
      }
      
      .four {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      opacity:0;
      animation:svg4 1s linear 5;
      }
      
      @keyframes svg4 {
      
      33%{
      opacity:0;
      }
      
      33.3%{
      opacity:1;
      }
      
      44.3%{
      opacity:1;
      }
      
      44.4% {
      opacity:0;
      }
      
      }
      
      .five {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -45%);
      opacity:0;
      animation:svg5 1s linear 5;
      }
      
      @keyframes svg5 {
      
      44%{
      opacity:0;
      }
      
      44.4%{
      opacity:1;
      }
      
      55.4%{
      opacity:1;
      }
      
      55.5% {
      opacity:0;
      }
      
      }
      
      .six {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -40%);
      opacity:0;
      animation:svg6 1s linear 5;
      }
      
      @keyframes svg6 {
      
      55%{
      opacity:0;
      }
      
      55.5%{
      opacity:1;
      }
      
      66.5%{
      opacity:1;
      }
      
      66.6% {
      opacity:0;
      }
      
      }
      
      .seven {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -45%);
      opacity:0;
      animation:svg7 1s linear 5;
      }
      
      @keyframes svg7 {
      
      66%{
      opacity:0;
      }
      
      66.6%{
      opacity:1;
      }
      
      77.6%{
      opacity:1;
      }
      
      77.7% {
      opacity:0;
      }
      
      }
      
      .eight {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      opacity:0;
      animation:svg8 1s linear 5;
      }
      
      @keyframes svg8 {
      
      77%{
      opacity:0;
      }
      
      77.7%{
      opacity:1;
      }
      
      88.7%{
      opacity:1;
      }
      
      88.8% {
      opacity:0;
      }
      
      }
      
      .nine {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -45%);
      opacity:0;
      animation:svg9 1s linear 5;
      }
      
      @keyframes svg9 {
      
      88% {
      opacity:0;
      }
      
      88.8% {
      opacity:1;
      }
      
      99.8% {
      opacity:1;
      }
      
      100% {
      opacity:0;
      }
      }
      
      #box1 {
      display:none;
      translateY(-5000px);
      }
      
      #box1:checked ~ .loader {
      display:block;
      }
      
      #box1:checked ~ .next {
      animation:anim 0.4s linear 2;
      }
      
      @keyframes anim {
      0% {
        width:60px;
        height:60px;
      }
      
      50% {
        width:65px;
        height:55px;
      }
      
      100% {
        width:60px;
        height:60px;
      }
      }
      
      #box2 {
      display:none;
      translateY(-5000px);
      }
      
      #box2:checked ~ .loader {
      display:block;
      }
      
      #box2:checked ~ .previous {
      animation:anim2 0.4s linear 2;
      }
      
      @keyframes anim2{
      0% {
      width:60px;
      height:60px;
      }
      
      50% {
      width:65px;
      height:55px;
      }
      
      100% {
      width:60px;
      height:60px;
      }
      }
